# ─── Infra ────────────────────────────────────────────────────────────────────
INFRA_PORT=3000
INFRA_ENVIRONMENT=development

# ─── Database ─────────────────────────────────────────────────────────────────
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=nest_blueprint
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_SCHEMA=public

# ─── Utilities ────────────────────────────────────────────────────────────────
UTILITIES_PAGINATION_LIMIT=20

# ─── AWS ──────────────────────────────────────────────────────────────────────
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key

# AWS SES (mail)
AWS_SES_FROM_EMAIL=no-reply@yourdomain.com

# AWS S3 (upload)
AWS_S3_BUCKET=your-s3-bucket-name

# ─── Encrypt / Decrypt ────────────────────────────────────────────────────────
# Algorithm: aes-256-cbc | aes-128-cbc | etc.
ENCRYPT_ALGORITHM=aes-256-cbc
# 32 bytes hex string for aes-256-cbc
ENCRYPT_KEY=0000000000000000000000000000000000000000000000000000000000000000
# 16 bytes hex string (IV)
ENCRYPT_IV=00000000000000000000000000000000
